# Ignore environment and config files containing sensitive information
.env
config.json
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Data files
*.csv
*.json
# System files
.DS_Store
Thumbs.db
# Virtual environment files
venv/
node_modules/
# vscode stored defaults
*.vscode